
<table style="border:1px solid black">
    <tr style="border:1px solid black">
        <th>Username</th>
        <th>Email</th>
    </tr>
    {% for item in res %}
        <tr style="border:1px solid black">
            <td>

                {{item.username}}
            </td>
            <td>
                {{item.email}}
            </td>
            <td>
                <button><a href="{{path('remove',{'id':item.id})}}">remove</a></button>
                <button><a href="{{path('update',{'id':item.id})}}">update</a></button>
            </td>
        </tr>
    {% endfor %}

</table>
